<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/JavaScript.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        th span{
            color:cornflowerblue;
        }
    </style>
</head>
<body ng-app="myModule">
    
    <div ng-controller="myController">
        <h1 style="text-align:center"> {{ message }}</h1>


        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" ng-model="employeeObject.firstName" />
                    </td>
                </tr>

                <tr>
                    <td>Desgination:</td>
                    <td>
                        
                        <select ng-model="employeeObject.desgination">

                            <option value="Software-Engineer"> Software-Engineer</option>
                            <option value="Manager"> Project Manager</option>

                        </select>
                    </td>
                </tr>

            </table> 


        </div>


        <div class="row">
            <div class="container">
                <div class="col-3">
                    <img style="height:150px;" ng-src="{{employeeObject.image}}"/>
                </div>
                <div class="col-3">
                    <h3>  Name:   {{employeeObject.firstName}} </h3>
                </div>
                <div class="col-3">
                    <h3> Desgination:{{employeeObject.desgination}}    </h3>
                </div>

            </div> 


        </div>


        <div class="container">
            Search : <input type="text" placeholder="Search employees" ng-model="searchText" />
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>
                            First name
                            <span ng-click="sortBy('firstName')" class="glyphicon glyphicon-triangle-top"></span>
                            <span ng-click="sortBy('-firstName')" class="glyphicon glyphicon-triangle-bottom"></span>

                        </th>
                        <th>Lastname</th>
                        <th>Gender</th>
                        <th>
                            Salary
                            <span ng-click="sortBy('salary')" class="glyphicon glyphicon-triangle-top"></span>
                            <span ng-click="sortBy('-salary')" class="glyphicon glyphicon-triangle-bottom"></span>
                        </th>
                        <th>Date of Birth</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | limitTo:rowCount| orderBy:sortColumn| filter:searchText">
                        <td> {{ employee.firstName }} </td>
                        <td> {{ employee.lastName }} </td>
                        <td> {{ employee.gender }} </td>
                        <td> {{ employee.salary | currency : "Rs " : 1 }} </td>
                        <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td>

                        <td>
                            <button href="#" ng-click="incrementLikes(employee)">
                                {{employee.likes}}   <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                            <button href="#" ng-click="incrementDislikes(employee)">
                                {{employee.dislikes}}  <span class="glyphicon glyphicon-thumbs-down"></span>
                            </button>



                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            Rows to display : <input type="number" step="1" ng-model="rowCount" max="5" min="0" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
</body>
</html>